/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "阿里妈妈数黑体 Bold";
  font-weight: 700;
  src: url("../font/dqIRTBShv0kZ7rqh96mgM/lrDbmgtzqsv29PmBbJ-SK.woff") format("woff"),
  url("../font/dqIRTBShv0kZ7rqh96mgM/lrDbmgtzqsv29PmBbJ-SK.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "皇室战争 Bold";
  font-weight: 700;
  src: url('../font/皇室战争_Bold_mianfeiziti.com.ttf');
}

@font-face {
  font-family: "iconfont"; /* Project id 3576001 */
  src: url('//at.alicdn.com/t/c/font_3576001_wniefm41zlo.woff2?t=1662521392374') format('woff2'),
       url('//at.alicdn.com/t/c/font_3576001_wniefm41zlo.woff?t=1662521392374') format('woff'),
       url('//at.alicdn.com/t/c/font_3576001_wniefm41zlo.ttf?t=1662521392374') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyanfill:before {
  content: "\e743";
}

.icon-lajitong:before {
  content: "\e682";
}

.icon-jia:before {
  content: "\e607";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-quxiao:before {
  content: "\e605";
}

.icon-31dianzan:before {
  content: "\e604";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-biaoqing:before {
  content: "\e681";
}

.icon-gengduo:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e60d";
}

.icon-01_wenzhangguanli:before {
  content: "\e636";
}

.icon-ico_yueduliang:before {
  content: "\e62a";
}

.icon-dianzan:before {
  content: "\e603";
}

.icon-yuedu-2:before {
  content: "\e675";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-liuyan1:before {
  content: "\e606";
}

.icon-guanyu:before {
  content: "\e65d";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-weixin:before {
  content: "\e63f";
}

.icon-github:before {
  content: "\e657";
}

.icon-weixingongzhonghao:before {
  content: "\e601";
}

.icon-yuyinguanbi:before {
  content: "\e903";
}

.icon-sousuo:before {
  content: "\e622";
}
